# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Excel / survey files
*.xlsx

# Environment files
.env
*.env.local

# Logs
*.log
